<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Pengaduan Saya</ion-title>
  </ion-toolbar>
  <ion-toolbar no-padding>
    <ion-item color="danger">
      <ion-avatar slot="start">
        <img src="assets/img/avatar.jpeg" class="user-avatar">
      </ion-avatar>
      <ion-label>
        <ion-text color="light">
          <h1>
            <strong>{{user.name}}</strong>
          </h1>
        </ion-text>
        <ion-text color="light">
          <h3>
            {{user.email}}
          </h3>
        </ion-text>
      </ion-label>
      <ion-chip *ngIf="countList">
        <ion-text color="light">
          {{countList}} Pengaduan
        </ion-text>
      </ion-chip>
      <ion-chip *ngIf="!countList">
        <ion-text color="light">
          0 Pengaduan
        </ion-text>
      </ion-chip>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="pengaduan">
    <ion-card *ngFor="let item of pengaduan">
      <ion-card-header>
        <ion-card-subtitle>{{item.kategori_name}} - {{item.subkategori_name}}</ion-card-subtitle>
        <ion-card-title>{{item.topik}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="user_thumbnail">
          <ion-row>
            <ion-col size="2">
              <ion-avatar item-left>
                <img *ngIf="item.avatar != null" [src]="item.avatar">
                <img *ngIf="item.avatar == null" src="assets/img/user.png">
              </ion-avatar>
            </ion-col>
            <ion-col>
              <h2>{{item.pelapor}}</h2>
              {{ converTime(item.tanggal) }}
            </ion-col>
          </ion-row>
        </div>

        <div class="uraian">
          <ion-row>
            <ion-col>
              <p>{{ (item.uraian).substring(0, 200) }} ... <a (click)="goToDetail(item.id)">detail</a></p>
            </ion-col>
            <ion-col size="4" *ngIf="item.filepath">
              <img [src]="item.filepath">
            </ion-col>
          </ion-row>
        </div>

        <ion-label>
          <ion-icon name="pin" color="danger"></ion-icon>{{item.alamat}}
        </ion-label>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="countList < 1">
    <div class="ion-text-center">
      <h3>Tidak Ada Pengaduan</h3>
      Anda belum memiliki pengaduan
    </div>
  </div>
</ion-content>