<ion-header>
  <ion-toolbar color="theme">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Tindak Lanjut</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item no-padding class="animated fadeInUp">
    <ion-label position="stacked">Uraian Tindak Lanjut</ion-label>
    <ion-textarea [(ngModel)]="pengaduan.uraian"></ion-textarea>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photos; let id = index">
        <ion-card class="block">
          <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
          <img [src]="photo" *ngIf="photo" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="selectPhoto()" shape="round">
        Upload Gambar
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" shape="round">
        Simpan
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>