:host {
    h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 800;
    }
}

.user_thumbnail{
    display : flex;
    .user_name{
        margin-left: 10px;
        margin-top: -15px;
    }
}

.address{
    margin-top: 15px;
}