<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Ionic Image Upload
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="6" *ngFor="let photo of photos; let id = index">
      <ion-card class="block">
        <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
        <img [src]="photo" *ngIf="photo" />
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-footer>
  <ion-button expand="full" (click)="selectPhoto()">
    <ion-icon name="camera"></ion-icon>&nbsp;Pilih Gamabar
  </ion-button>
</ion-footer>