<ion-list no-padding>
  <ion-list-header color="danger">
    <ion-label>Notifikasi</ion-label>
  </ion-list-header>

  <ion-card *ngFor="let notif of notifications" (click)="goToDetail(notif.pengaduan_id)">
    <ion-chip>
      <ion-avatar *ngIf="notif.avatar">
        <img [src]="notif.avatar">
      </ion-avatar>
      <ion-avatar *ngIf="!notif.avatar">
        <img src="assets/img/user.png">
      </ion-avatar>
      <ion-label>{{notif.username}}</ion-label>
    </ion-chip>
    <div class="notif-content">
      <ion-text>{{notif.notif_title}}</ion-text>
      <br />
      <ion-text class="notif-date">{{ converTime(notif.created_at) }}</ion-text>
    </div>
  </ion-card>

  <ion-card *ngIf="notifications.length < 1">
    <ion-card-content>
      <ion-text class="ion-text-center">Tidak Ada Notifikasi Terbaru</ion-text>
    </ion-card-content>
  </ion-card>

</ion-list>