<ion-header>
  <ion-toolbar color="theme">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title (click)="toTop()">
      <ion-text color="light">
        <ion-text color="light" class="fw700">Project Pengaduan</ion-text>
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="light" (click)="showSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="theme" *ngIf="showSearchBar">
    <ion-searchbar [(ngModel)]="searchKey" animated></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <ion-list *ngFor="let p of project">
    <ion-card>
      <ion-card-content>
        <ion-item no-padding>
          <ion-title>
           {{p.nama}}
          </ion-title>
        </ion-item>
        
          <ion-row>
            <ion-col size="6">
              Jumlah Pengaduan
            </ion-col>
            <ion-col size="1">
              :
            </ion-col>
            <ion-col size="5">
              {{p.jumlah_pengaduan}}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              Tanggal Mulai
            </ion-col>
            <ion-col size="1">
              :
            </ion-col>
            <ion-col size="5">
              {{p.start_date}}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              Tanggal Berakhir
            </ion-col>
            <ion-col size="1">
              :
            </ion-col>
            <ion-col size="5">
              {{p.end_date}}
            </ion-col>
          </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>