<ion-content padding class="login auth-page">

    <div class="auth-content">
      <!-- Logo -->
      <div padding-horizontal text-center>
        <div class="logo"></div>
        <h3 no-margin>
          <ion-text color="light" class="fw700">
            <ion-text color="light">Register</ion-text>
          </ion-text>
        </h3>
      </div>
  
      <!-- Register form -->
      <form [formGroup]="onRegisterForm" #form="ngForm" (ngSubmit)="register(form)" class="list-form">
        <ion-item no-padding class="animated fadeInUp">
          <ion-label position="floating">
            <ion-icon name="person" item-start color="warning"></ion-icon>
            Nama
          </ion-label>
          <ion-input color="secondary" type="text" name="name" formControlName="name"></ion-input>
        </ion-item>
        <p ion-text class="text08" *ngIf="onRegisterForm.get('name').touched && onRegisterForm.get('name').hasError('required')">
          <ion-text color="warning">
            Nama tidak boleh kosong !
          </ion-text>
        </p>
  
        <ion-item no-padding class="animated fadeInUp">
          <ion-label position="floating">
            <ion-icon name="mail" item-start color="warning"></ion-icon>
            Email
          </ion-label>
          <ion-input color="secondary" type="email" name="email" formControlName="email"></ion-input>
        </ion-item>
        <p ion-text class="text08" *ngIf="onRegisterForm.get('email').touched && onRegisterForm.get('email').hasError('required')">
          <ion-text color="warning">
            Email tidak boleh kosong !
          </ion-text>
        </p>
  
        <ion-item no-padding class="animated fadeInUp">
          <ion-label position="floating">
            <ion-icon name="lock" item-start color="warning"></ion-icon>
            Password
          </ion-label>
          <ion-input color="secondary" type="password" name="password" formControlName="password"></ion-input>
        </ion-item>
        <p ion-text color="warning" class="text08" *ngIf="onRegisterForm.get('password').touched && onRegisterForm.get('password').hasError('required')">
          <ion-text color="warning">
            Password tidak boleh kosong !
          </ion-text>
        </p>
        <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
              <ion-icon name="lock" item-start color="warning"></ion-icon>
              Konfirmasi Password
            </ion-label>
            <ion-input color="secondary" type="password" name="cpassword" formControlName="cpassword"></ion-input>
          </ion-item>
          <p ion-text color="warning" class="text08" *ngIf="onRegisterForm.get('cpassword').touched && onRegisterForm.get('cpassword').hasError('required')">
            <ion-text color="warning">
              Password tidak boleh kosong !
            </ion-text>
          </p>
  
        <ion-button icon-left size="medium" expand="full" shape="round" color="secondary" type="submit" [disabled]="!onRegisterForm.valid"
          tappable>
          <ion-icon name="log-in"></ion-icon>
          Sign Up
        </ion-button>
      </form>
  
      <div margin-top>
  
        <p text-center>
          <ion-text color="light">
            Or Sign Up with:
          </ion-text>
        </p>
  
        <ion-grid class="btn-group">
          <ion-row>
            <ion-col size="6">
              <ion-button shape="round" expand="full" color="primary" (click)="fbLogin()">
                <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button shape="round" expand="full" color="danger">
                <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
  
      </div>
  
      <!-- Other links -->
      <div text-center margin-top>
        <span (click)="goToLogin()" tappable>
          <ion-text color="light">
            <strong>Login</strong>
          </ion-text>
        </span>
      </div>
  
    </div>
  </ion-content>