:host {
    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }

    ion-avatar img {
        border: solid 2px #f3ba40;
    }

    ion-card-subtitle{
        margin-top: 5px;
    }
}

.user_thumbnail{
    display : flex;
    h1,h2,h3{
        color: #000000;
        font-weight: 600;
    }
    .user_name{
        margin-left: 5px;
        margin-top: 10px;
    }
}

.custom-skeleton ion-skeleton-text {
    line-height: 13px;
  }
  
.custom-skeleton ion-skeleton-text:last-child {
margin-bottom: 5px;
}